<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="semantic/semantic.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    <script src="semantic/semantic.js"></script>

</head>
<body>

<div class="ui menu">
    <div class="header item">
        <a href="/">Coin</a>
    </div>
    <a class="item" href="/">
        Info
    </a>
    <a class="item">
        About us
    </a>
    <a class="item">
        Locations
    </a>
</div>

</body>
</html>